.robots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: -110px auto 155px;
  max-width: 50vw;
  width: 100vw;
  justify-content: center;
}
